.chapter-tile-container {
  width: 300px;
  height: 200px;
  margin: 8px;
  position: relative;
  border: 1px solid lightgray;
  border-radius: 8px;
  opacity: 0;
  animation: fade-in-right ease 0.8s forwards;
  animation-delay: 0.4s;
}

.chapter-tile-container:hover {
  cursor: pointer;
}

.chapter-tile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chapter-label {
  width: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
}

.chapter-label h2 {
  padding: 12px;
  font-weight: 400;
  margin: 0;
}

.chapter-tile-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  border-radius: 8px;
}

.chapter-list {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  opacity: 0;
}

@media screen and (max-width: 932px) {
  .chapter-tile-container {
    width: 200px;
    height: 160px;
  }

  .chapter-label h2 {
    padding: 8px;
    font-size: 24px;
  }
}

@media screen and (max-width: 434px) {
  .chapter-tile-container {
    width: 140px;
    height: 100px;
  }

  .chapter-label h2 {
    padding: 8px;
    font-size: 20px;
  }
}