html {
  scroll-behavior: smooth;
  white-space: pre-line;
}

.App {
  text-align: center;
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 88px;
}

h2 {
  font-size: 28px;
  font-weight: 300;
}

@media screen and (max-width: 612px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 24px;
  }
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: darkslateblue;
}

a:visited {
  color: grey;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-entry {
  animation: fade-in ease 0.8s forwards;
  animation-delay: 1s;
}
